<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}">
    </th:block>
</head>
<body>
	<header>
		<th:block th:include="~{fragments/nav}">
    	</th:block>
	</header>
    <main>
    	<div class="container-fluid d-flex flex-row">
            <div class="mt-3 col-md-3">
            	<h1>Decks</h1>
            	<span hidden class="username" th:text="${username}"></span>
            	<hr>
				<form th:action="@{/decks/add-deck}" method="post" th:object="${bind}">
					<div class="input-group mb-3">
						<div class="form-gorup">
							<input type="text" class="form-control" name="name" placeholder="Deck Name..." th:field="*{name}">
						</div>
						<div class="form-group" hidden>
							<input type="text" class="form-control" id="oldName" th:value="${username}" name="username">
						</div>
					  	<div class="input-group-append">
					    	<button class="btn btn-success" type="submit" id="button-addon2">ADD</button>
					  	</div>	
					  	<small id="passwordHelpBlock" class="form-text text-danger h6" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
					</div>
            	</form>     
            	<hr>
            	<th:block th:each="deck, iter: ${decks}">
	            	<form th:action="@{/decks/deck-cards/{id}(id=${deck.id})}">
						<div class="input-group mb-3">
						  <input type="text" class="form-control" th:placeholder="|${deck.name}" disabled="disabled" aria-describedby="button-addon2">
						  <div class="input-group-append">
						    <button class="btn btn-warning" type="submit" id="button-addon2">VIEW</button>
						  </div>
						</div>
	            	</form>
            	</th:block>        	
            </div>
            <div class="mt-3 col-md-9">
            	<h1>Cards</h1>				
            	<hr/>
            	<div th:if="${cards.content.empty} == false" class="cards-pagination">
					<nav aria-label="...">
						<ul class="pagination pagination-lg">
						  	<li class="page-item" th:classappend="${currentPage}==0?'disabled':''">
						  		<a class="page-link" th:href="@{/decks/deck(page=${currentPage-1})}" >Previous</a>
						  	</li>
						  	<li class="page-item" th:classappend="${currentPage}==${cards.totalPages-1}?'disabled':''">
						  		<a class="page-link" th:href="@{/decks/deck(page=${currentPage+1})}" >Next</a>
						  	</li>
						</ul>
					</nav>
				</div>
				<h3 th:if="${cards.content.empty} == true" class="empty-cards">You don't have any cards. Buy some from the <a th:href="@{/cards/shop}">Shop</a>.</h3>
			   	<div class="card-deck">
	           		<th:block th:each="card, iter: ${cards.content}">
	           		<th:block th:switch="${card.rarity}">
	           			<div class="col-md-3">
		           			<div th:case="${T(dny.apps.tiaw.domain.entities.Rarity).Common}" class="card" style="-webkit-transform: scale(0.8, 0.8); border-width:8px !important; border-color: grey !important">
					           	<img th:src="${card.url}" style="width: auto; height: 12rem;" class="card-img-top img-thumbnail px-auto" alt="Card Image">
								<div class="card-body">
									<h5 class="card-title" th:text="|${card.name}|"></h5>
									<hr>
									<p class="card-text text-center">
										<span class="bg-danger rounded p-1" th:text="|Attack: ${card.power}|"></span>
										<span class="bg-success rounded p-1" th:text="|Defense: ${card.defense}|"></span>
									</p>
									<hr>
									<form th:action="@{/decks/add-to-deck/{cardId}(cardId=${card.id})}" method="post">
										<div class="input-group mb-3">
											<input type="text" name="name" class="form-control" placeholder="Deck Name..." aria-describedby="button-addon2">
											<div class="input-group-append">
												<button class="btn btn-success" type="submit" id="button-addon2">ADD</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div th:case="${T(dny.apps.tiaw.domain.entities.Rarity).Uncommon}" class="card" style="-webkit-transform: scale(0.8, 0.8); border-width:8px !important; border-color: green !important">
					           	<img th:src="${card.url}" style="width: auto; height: 12rem;" class="card-img-top img-thumbnail px-auto" alt="Card Image">
								<div class="card-body">
									<h5 class="card-title" th:text="|${card.name}|"></h5>
									<hr>
									<p class="card-text text-center">
										<span class="bg-danger rounded p-1" th:text="|Attack: ${card.power}|"></span>
										<span class="bg-success rounded p-1" th:text="|Defense: ${card.defense}|"></span>
									</p>
									<hr>
									<form th:action="@{/decks/add-to-deck/{cardId}(cardId=${card.id})}" method="post">
										<div class="input-group mb-3">
											<input type="text" name="name" class="form-control" placeholder="Deck Name..." aria-describedby="button-addon2">
											<div class="input-group-append">
												<button class="btn btn-success" type="submit" id="button-addon2">ADD</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div th:case="${T(dny.apps.tiaw.domain.entities.Rarity).Rare}" class="card" style="-webkit-transform: scale(0.8, 0.8); border-width:8px !important; border-color: purple !important">
					           	<img th:src="${card.url}" style="width: auto; height: 12rem;" class="card-img-top img-thumbnail px-auto" alt="Card Image">
								<div class="card-body">
									<h5 class="card-title" th:text="|${card.name}|"></h5>
									<hr>
									<p class="card-text text-center">
										<span class="bg-danger rounded p-1" th:text="|Attack: ${card.power}|"></span>
										<span class="bg-success rounded p-1" th:text="|Defense: ${card.defense}|"></span>
									</p>
									<hr>
									<form th:action="@{/decks/add-to-deck/{cardId}(cardId=${card.id})}" method="post">
										<div class="input-group mb-3">
											<input type="text" name="name" class="form-control" placeholder="Deck Name..." aria-describedby="button-addon2">
											<div class="input-group-append">
												<button class="btn btn-success" type="submit" id="button-addon2">ADD</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div th:case="${T(dny.apps.tiaw.domain.entities.Rarity).Epic}" class="card" style="-webkit-transform: scale(0.8, 0.8); border-width:8px !important; border-color: orange !important">
					           	<img th:src="${card.url}" style="width: auto; height: 12rem;" class="card-img-top img-thumbnail px-auto" alt="Card Image">
								<div class="card-body">
									<h5 class="card-title" th:text="|${card.name}|"></h5>
									<hr>
									<p class="card-text text-center">
										<span class="bg-danger rounded p-1" th:text="|Attack: ${card.power}|"></span>
										<span class="bg-success rounded p-1" th:text="|Defense: ${card.defense}|"></span>
									</p>
									<hr>
									<form th:action="@{/decks/add-to-deck/{cardId}(cardId=${card.id})}" method="post">
										<div class="input-group mb-3">
											<input type="text" name="name" class="form-control" placeholder="Deck Name..." aria-describedby="button-addon2">
											<div class="input-group-append">
												<button class="btn btn-success" type="submit" id="button-addon2">ADD</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div th:case="${T(dny.apps.tiaw.domain.entities.Rarity).Legendary}" class="card" style="-webkit-transform: scale(0.8, 0.8); border-width:8px !important; border-color: red !important">
					           	<img th:src="${card.url}" style="width: auto; height: 12rem;" class="card-img-top img-thumbnail px-auto" alt="Card Image">
								<div class="card-body">
									<h5 class="card-title" th:text="|${card.name}|"></h5>
									<hr>
									<p class="card-text text-center">
										<span class="bg-danger rounded p-1" th:text="|Attack: ${card.power}|"></span>
										<span class="bg-success rounded p-1" th:text="|Defense: ${card.defense}|"></span>
									</p>
									<hr>
									<form th:action="@{/decks/add-to-deck/{cardId}(cardId=${card.id})}" method="post">
										<div class="input-group mb-3">
											<input type="text" name="name" class="form-control" placeholder="Deck Name..." aria-describedby="button-addon2">
											<div class="input-group-append">
												<button class="btn btn-success" type="submit" id="button-addon2">ADD</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div th:case="${T(dny.apps.tiaw.domain.entities.Rarity).Mythic}" class="card" style="-webkit-transform: scale(0.8, 0.8); border-width:8px !important; border-color: black !important">
					           	<img th:src="${card.url}" style="width: auto; height: 12rem;" class="card-img-top img-thumbnail px-auto" alt="Card Image">
								<div class="card-body">
									<h5 class="card-title" th:text="|${card.name}|"></h5>
									<hr>
									<p class="card-text text-center">
										<span class="bg-danger rounded p-1" th:text="|Attack: ${card.power}|"></span>
										<span class="bg-success rounded p-1" th:text="|Defense: ${card.defense}|"></span>
									</p>
									<hr>
									<form th:action="@{/decks/add-to-deck/{cardId}(cardId=${card.id})}" method="post">
										<div class="input-group mb-3">
											<input type="text" name="name" class="form-control" placeholder="Deck Name..." aria-describedby="button-addon2">
											<div class="input-group-append">
												<button class="btn btn-success" type="submit" id="button-addon2">ADD</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</th:block>
	           		</th:block>
	           	</div>
            </div> 
    	</div>
    </main>
    <footer>
    	<th:block th:include="~{fragments/footer}">
    	</th:block>
	</footer>
</body>
</html>